.my{
    outline: 1px solid red;
}
.breadcrumb-item:hover{
    cursor: pointer;
}
.logoImg{
    height: 9vw;
    width: 15vw;
    position: absolute;
    top: 84%;
    left: 10vw;
    border: 1px solid black;
    border-radius: 10px;
}
.banner{
    position: relative;
}
.schoolTitle{
    text-align: center;
    margin-bottom: 3vw;
    margin-top: 2vw;
}
.cooperUniversity{
    margin: 3vw auto;

}
